* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #eaeaea;

  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 64px;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-decoration: none;
  margin-bottom: 64px;
}

.memory small {
  color: #bebebf;
  font-size: 12px;
}

.memory h1 {
  font-size: 32px;
    color: #eaeaea;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.memory p {
  font-size: 18px;
  color: #bebebf;
  line-height: 28px;
}