* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;
}

@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #121215;
  color: #eaeaea;

  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline;

  overflow-y: scroll;
  animation: entering 0.7s ease-in-out;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-decoration: none;
  margin-bottom: 64px;
}

.memory small {
  color: #bebebf;
  font-size: 0.75rem;
}

.memory h1 {
  font-size: 2rem;
  color: #eaeaea;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;

  transition: transform 0.3s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem;
  color: #bebebf;
  line-height: 28px;
}

aside {
  grid-area: profile;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;

  background-image: url("./assets/background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 2rem;
  text-align: center;
}

aside span {
  font-size: 0.75rem;
  color: #9e9ea0;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: "profile" "timeline";
  }

  aside {
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible;
    padding: 22px;
  }
}
